*
{font-family: helvetica;}

.glyphicon.glyphicon-align-justify
{font-size: 25px;
color: white;}


.container-fluid.justica_menubar
{background-color: #ce0400;}

.navbar-default .navbar-nav > .dropdown > .dropdown-toggle
{
    color: white;
    padding: 0;
    margin: 0;
}

.titulotop {
    font-size:30px;
    color: white;
}

.titulominus
{font-size: 15px;
color: white;}

.glyphicon.glyphicon-search
{font-size: 20px;
color:white;
}

.justica
{color: #51b0e0;
font-size: 25px;
text-decoration:none;
margin-left: 5px;
width: 105px;}

.justica:hover
{text-decoration:none;
color: #51b0e0;}

.seguranca
{color: #ce0400;
font-size: 25px;
text-decoration:none;
width: 150px;}

.seguranca:hover
{color: #ce0400;
font-size: 25px;
text-decoration:none;}

.assistencia
{color: #f98037;
font-size: 25px;
text-decoration:none;
width: 160px;}

.assistencia:hover
{text-decoration:none;
color: #f98037;}

.educacao
{color: #56b394;
font-size: 25px;
text-decoration:none;
width: 240px;}

.educacao:hover
{text-decoration:none;
color: #56b394;}

.sociedade
{color: #0400bd;
font-size: 25px;
text-decoration:none;
width: 200px;}

.sociedade:hover
{text-decoration:none;
color: #0400bd;}

.tudo
{color: black;
font-size: 25px;
text-decoration:none;
width: 80px;}

.tudo:hover
{text-decoration:none;
color: black;}

.seletor
{padding-top: 10px;}

.seletormenu
{display: inline-flex;
list-style-type: none;}

.banner
{height: 140px;
text-align: center;}

.active a
{color: white;}

.active .seguranca
{background-color: #ce0400;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
text-decoration: none;}

.active .justica
{background-color: #51b0e0;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
text-decoration: none;}

.active .assistencia
{background-color: #f98037;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
text-decoration: none;}

.navbar{
    border: none;
    margin: 0;
}

.breadcrumbs{
    padding: 3px 80px;
    color: #979797;
    font-size: 8.5pt;
    font-weight: lighter;
    border-bottom: 3px solid transparent;
}

.conteudo
{background-color: #e3e3e3;
text-align: center;}

.justica_contents .navbar-form {
    width: 100%
}

.form-group {
    padding-right: 0;
}

.form-group .form-control {
    width: 100%;
    border-radius: 0px;
    height: 45px;
}

.navbar-form .search_submit {
    padding-left: 0;
    text-align: left;
}

.estacoes
{text-align: left;}

.titulosbox {
    font-size: 18pt;
    color: #404040;
    font-weight: lighter;
}

.well
{background-color: white;
border-radius: 5px;}

.well img
{height: 50px;}

.rodape .well
{text-align: center;}

.carousel-indicators .active {
background-color: #404040;}

.carousel-indicators {
    position: relative;
    left: auto;
    bottom: -10px;
    z-index: 15;
    width: 60%;
    margin-left: 15%;
    padding-left: 0;
    list-style: none;
    text-align: center;
}

.justica_logo
{text-align: center;}

.btn-default
{background-color: #464648;
height: 45px;}

.glyphicon.glyphicon-search.buscaicon
{padding-top: 0px;}

.alinjustica
{width: 110px;
text-align: center;
margin-right: 38px;}

.alinseguranca
{width: 150px;
text-align: center;
margin-right: 38px;}

.alinassistencia
{text-align: center;
width: 158px;
margin-right: 38px;}

.alineducacao
{width: 237px;
text-align: center;
margin-right: 38px;}

.alinsociedade
{width: 197px;
text-align: center;
margin-right: 38px;}

.alintudo
{width: 80px;
text-align: center;}

.col-md-1
{text-align: right;}

/*Felipi*/
.justica_nav .row > div {
    text-align: center;
    padding: 3px 0;
}

.justica_nav .row a {
    font-size: 14pt;
    font-weight: 100;
}

.justica_menu .nav {
    margin: 9px 0;
}

.justica_nav .justica_logo {
    margin-top: 3px;
}

.justica_menubar .navbar-nav>.open>a,
.justica_menubar .navbar-nav>.open>a:hover,
.justica_menubar .navbar-nav>.open>a:focus {
    background-color: transparent;
    color: white;
}

.justica_menu .mymenu {
    margin-left: 5px;
    color: white;
    font-size: 10pt;
    font-weight: 100;
}

.justica_search {
    text-align: center;
    margin-top: 13px;
}

.justica_search span {
    font-size: 20px;
    color:white;
}

.justica_user_tools {
    text-align: center;
    font-size: 10pt;
    margin-top: 13px;
}
